<p>I have served as a reviewer in the following conferences:</p>

<ul>
  <li><a href="https://conf.researchr.org/home/icse-2027">ICSE 2027</a> — Research Track</li>
  <li><a href="https://conf.researchr.org/home/issta-2026">ISSTA 2026</a> — Research Track</li>
  <li><a href="https://conf.researchr.org/home/icse-2026">ICSE 2026</a> — Shadow PC – Distinguished Reviewer Award 🏆</li>
</ul>

<p>and journals:</p>

<ul>
  <li><a href="https://ieeexplore.ieee.org/xpl/RecentIssue.jsp?punumber=32">IEEE Transactions on Software Engineering (TSE)</a></li>
  <li><a href="https://link.springer.com/journal/10664">Empirical Software Engineering (EMSE)</a></li>
</ul>